<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsiQqKFkY5BwdUHHx35k-egLiOcfGN2D0</string>
	<key>GCM_SENDER_ID</key>
	<string>896291915201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phonebook</string>
	<key>PROJECT_ID</key>
	<string>khokanaphonedairy</string>
	<key>STORAGE_BUCKET</key>
	<string>khokanaphonedairy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896291915201:ios:2b882bc347134de1da9b40</string>
</dict>
</plist>